#intro {
  display: flex;
  justify-content: center;
  text-align: center;
  text-justify: center;

  #text-intro {
    width: 680px;
    height: 327px;
  }

  #avatar {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
  }

  h1 {
    font: var(--title-lg);
    margin-top: 8px;
  }

  h2 {
    font: var(--subtitle);
    gap: 8px;
    span {
      color: var(--red);
    }
  }

  p {
    font: var(--text-sm);
    color: var(--gray-300);
    margin-top: 20px;
  }

  #stacks {
    margin-top: 80px;
    justify-content: center;
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    font: var(--text-md);
    color: var(--gray-200);
  }

  span img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
